node_modules/
package-lock.json
/.vitepress/
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/superpowers
docs/public/assets/**/*.png
docs/public/assets/**/*.jpg
docs/public/assets/**/*.jpeg
docs/public/assets/**/*.gif
.DS_Store
.env
.playwright-mcp/